doctype html
html(lang="en")
  head
    block head
      include /app/templates/partials/head.jade

  body.Page
    block open
      .SvgBank

    block main

    block close
      include /app/templates/partials/scripts.jade
      include /app/templates/partials/gauges.jade
