doctype html
html(lang="en")
  head
    block head
      include ../partials/head.jade

  body.Page
    block open
      .SvgBank

    block main

    block close
      include ../partials/scripts.jade
      include ../partials/gagues.jade
