doctype html
html(lang="en")
  head
    block head
      include /app/templates/partials/head.jade

  body.l
    block opener
      .SvgBank

    header.l-header
      block header
        strong.SiteTitle.-interal
          a.SiteTitle-link(href='/') Rob Wierzbowski

        include /app/templates/partials/nav.jade

    main.l-content
      block main

    footer.l-footer
      block footer
        include /app/templates/partials/contacts.jade

    block closer
      include /app/templates/partials/scripts.jade
      include /app/templates/partials/gauges.jade
