// Global Vars

// * Colors
$white: white;
$off-black: hsl(0, 0%, 14%);
$ds-purple: hsl(326, 36%, 65%);

// * Structure
$spacing: 1rem;

// * Fonts
$serif-font-family: "Charter BT", serif;
$monospace-font-family: "Consolas", monospace;
