// Global Vars

// * Colors
$white: white;
$off-black: hsl(0, 0%, 14%);
$ds-purple: hsl(326, 36%, 65%);
$pink: hsl(347, 83%, 70%);
$ds-pink: hsl(347, 83%, 80%);

// * Structure
$spacing: 1rem;

// * Fonts
$serif-fallback-family: "Times New Roman", serif;
$serif-webfont-family: join("Charter BT", $serif-fallback-family);
$monospace-font-family: "Consolas", monospace;

// * Media Queries
$mq-coarse: "(pointer: coarse)";
$mq-small-only: "(max-width: 30em)";
