// Global Vars

// * Colors
$white: white;
$off-black: hsl(0, 0%, 14%);
$ds-purple: hsl(326, 36%, 65%);

// * Fonts
$root-font-family: "Charter BT", serif;
$root-font-size: 112.5%; // 18px
$root-line-height: 1.4;

$monospace-font-family: "Consolas", monospace;
