// Normalize elements
// Based on sanitize.css v2.0.0
// github.com/jonathantneal/sanitize.css

:root {
  -ms-overflow-style: -ms-autohiding-scrollbar; // Edge 12+, Internet Explorer 11-
  overflow-y: scroll; // All browsers without overlaying scrollbars
  text-size-adjust: 100%; // Prevent text resizing on orientation change without disabling zoom
}

audio:not([controls]) {
  display: none; // Chrome 44-, iOS 8+, Safari 9+
}

button {
  overflow: visible; // Internet Explorer 11-
}

details {
  display: block; // Edge 12+, Firefox 40+, Internet Explorer 11-, Windows Phone 8.1+
}

input {
  &[type="number"] {
    width: auto; // Firefox 36+
  }

  &[type="search"] {
    -webkit-appearance: textfield; // Chrome 45+, Safari 9+

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration {
      -webkit-appearance: none; // Chrome 45+, Safari 9+
    }
  }
}

main {
  display: block; // Android 4.3-, Internet Explorer 11-, Windows Phone 8.1+
}

summary {
  display: block; // Firefox 40+, Internet Explorer 11-, Windows Phone 8.1+
}

pre {
  overflow: auto; // Internet Explorer 11-
}

progress {
  display: inline-block; // Internet Explorer 11-, Windows Phone 8.1+
}

template {
  display: none; // Android 4.3-, Internet Explorer 11-, iOS 7-, Safari 7-, Windows Phone 8.1+
}

textarea {
  overflow: auto; // Edge 12+, Internet Explorer 11-
}

select {
  -moz-appearance: none;    // Firefox 40+
  -webkit-appearance: none; // Chrome 45+

  &::-ms-expand {
    display: none;        // Edge 12+, Internet Explorer 11-
  }

  &::-ms-value {
    color: currentColor;  // Edge 12+, Internet Explorer 11-
  }
}

[hidden] {
  display: none; // Internet Explorer 10-
}
