.Contacts {}

.Contacts-contact {}

.Contacts-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  vertical-align: text-bottom;
  fill: $off-black;
}

.Contacts-link {
  @include link();
}

// * Modifiers

.Contacts-contact {
  @media #{$mq-small-only, $mq-coarse} {
    margin-bottom: 0.25rem;
  }
}
