.Contacts {}

.Contacts-contact {
  &.-email {}
  &.-twitter {}
  &.-github {}
}

.Contacts-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  vertical-align: text-bottom;
}

.Contacts-link {
  // TODO: Dry this up with a "standard text link" mixin.
  @include text-underline($off-black);

  &:hover {
    @include text-underline($ds-pink, 1.5px);
  }
}
