.Contacts {}

.Contacts-contact {
  &.-email {}
  &.-twitter {}
  &.-github {}
}

.Contacts-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  vertical-align: text-bottom;
}

.Contacts-link {
  @include text-link();
}
