.l {
  max-width: 35rem;
}

.l-content {}

.l-footer {
  margin-bottom: $spacing;
}

// * Modifiers

.l {
  @media #{$mq-0-small} {
    padding: 1rem;
  }

  @media #{$mq-small-100} {
    padding: 1.5rem;
  }
}
