.Page {
  max-width: 35rem;
}

.Page-title,
.Page-contacts {
  margin-bottom: $spacing;
}

.Page-title {
  @include one();
}

.Page-content {
  @extend %text;
  margin-bottom: $spacing + 0.5rem;
}

// * Modifiers

.Page {
  @media #{$mq-0-small} {
    padding: 1rem;
  }

  @media #{$mq-small-100} {
    padding: 1.5rem;
  }
}
