.Page {
  margin: 1rem;
  max-width: 35rem;
}

.Page-title,
// .Page-content,
.Page-contacts {
  margin-bottom: $spacing;
}

.Page-title {
  @include one();
}

.Page-content {
  @extend %text;
  margin-bottom: $spacing + 0.5rem;
}
