.Page {
  margin: 1rem;
}

.Page-header,
.Page-content,
.Page-cta,
.Page-contacts {
  margin-bottom: $spacing;
}

.Page-header {
  @include one();
}

.Page-content {
  // TODO: Extract text patterns into a re-usable modifier or extendable
  // placeholder.
  p {
    margin-bottom: 1rem;
  }
}
