.Summary {
  margin-bottom: $spacing;
}

.Summary-title {
  font-size: 1.25rem;
}

.Summary-link {
  @include link();
}

.Summary-date {
  font-style: italic;
}

.Summary-content {}

.Summary-more {
  margin-left: 0.5rem;
  color: $ds-pink;
}
