extends /app/templates/layouts/site

block append main
  article.Page
    .Page-section.-text
      p Hey! Here's where there will be a little content about me. I'll have to balance the info on the home page with info here.

    .Page-section.-text
      ul
        li I should add a list of places that I'm found on the internet;
        li articles,
        li interviews,
        li work,
        li etc.
