extends ./templates/layouts/page

block main
  main
    .Page-header
      header.Header
        h1.Header-title Rob Wierzbowski
        p.Header-blurb Web Developer in Pittsburgh, PA

    .Page-contacts
      ul.Contacts
        li.Contacts-contact.-twitter
          img.Contacts-icon(src="/images/icons/twitter.svg")
          a.Contacts-link(href="https://twitter.com/robwierzbowski") @robwierzbowski
        li.Contacts-contact.-github
          img.Contacts-icon(src="/images/icons/github.svg")
          a.Contacts-link(href="https://github.com/robwierzbowski") robwierzbowski
        li.Contacts-contact.-email
          img.Contacts-icon(src="/images/icons/mail.svg")
          a.Contacts-link(href="mailto:hello@robwierzbowski.com") hello@robwierzbowski

    .Page-cta
      p.Cta
        a.Cta-link(href="/available") Let's work together.
