doctype html
html(lang="en")
  include ./partials/head.jade

  body
    // build:js(app/) ../../scripts/main.min.js
    script(src="scripts/main.js")
    // endbuild

    h1 Rob Wierzbowski

    include ./partials/ga.jade

    //- Built with love using Web Starter Kit
