extends ./templates/layouts/page

block main
  main
    h1.Page-title Rob Wierzbowski

    .Page-content
      p I'm a design-minded developer focusing on modern front-end development, process, and teamwork. I love the good parts of JavaScript, automating everything, and actually think CSS is awesome.

      p You'll usually find me living and working in Pittsburgh, PA.

    .Page-cta
      p.Cta.
        I'm currently available. #[a.Cta-link(href="mailto:hello@robwierzbowski.com") If you'd like to work together, let's talk.]

    .Page-contacts
      ul.Contacts
        li.Contacts-contact.-email
          img.Contacts-icon(src="/images/icons/mail.svg")
          a.Contacts-link(href="mailto:hello@robwierzbowski.com") hello@robwierzbowski
        li.Contacts-contact.-twitter
          img.Contacts-icon(src="/images/icons/twitter.svg")
          a.Contacts-link(href="https://twitter.com/robwierzbowski") @robwierzbowski
        li.Contacts-contact.-github
          img.Contacts-icon(src="/images/icons/github.svg")
          a.Contacts-link(href="https://github.com/robwierzbowski") robwierzbowski
