extends ./templates/layouts/page

block main
  main
    .Page-header
      header.Header
        h1.Header-title Rob Wierzbowski
        p.Header-blurb Web Developer in Pittsburgh, PA

    .Page-contacts
      dl.Contacts
        dt.Contacts-label twitter
        dd.Contacts-contact
          a.Contacts-link.-twitter(href="https://twitter.com/robwierzbowski") @robwierzbowski
        dt.Contacts-label github
        dd.Contacts-contact
          a.Contacts-link.-github(href="https://github.com/robwierzbowski") robwierzbowski
        dt.Contacts-label email
        dd.Contacts-contact
          a.Contacts-link.-email(href="mailto:hello@robwierzbowski.com") hello@robwierzbowski

    .Page-cta
      p.Cta
        a.Cta-link(href="/available") Let's work together.
