// Reset links to plainer text.
// Note: We can't use `color: inherit` in the pseudo selectors since its
// specificity will steamroll any styles we're applying on top of link- reset.
@mixin link-reset() {
  text-decoration: none;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    outline: none;
    text-decoration: none;
  }
}
