// * Sizes

@mixin one {
  font-size: 2rem;
  line-height: 1.2;
};

@mixin two {
  font-size: 1.4rem;
  line-height: 1.2;
};

@mixin three {
  font-size: 1.25rem;
  line-height: 1.2;
};

@mixin base {
  font-size: 1rem;
  line-height: 1.4;
};

// * Text Decoration

@mixin text-underline($color: black, $offset: 0.02em, $width: 0.05em) {
  background-image: linear-gradient(
    to top,
    transparent $offset,
    $color $offset,
    $color calc(#{$offset} + #{$width}),
    transparent calc(#{$offset} + #{$width})
  );
}

@mixin remove-text-underline {
  background-image: none;
}
