// * Sizes

@mixin one {
  font-size: 2rem;
  line-height: 1.2;
};

@mixin two {
  font-size: 1.4rem;
  line-height: 1.2;
};

@mixin three {
  font-size: 1.25rem;
  line-height: 1.2;
};

@mixin base {
  font-size: 1rem;
  line-height: 1.4;
};

// * Text Decoration

@mixin cut-underline($color) {
  text-shadow:
    0.06em 0 $color,
    -0.06em 0 $color,
    0.09em 0 $color,
    -0.09em 0 $color,
    0.12em 0 $color,
    -0.12em 0 $color;
}

@mixin text-underline($color, $width: 1px, $position: 0.9em, $background: white) {
  @include cut-underline($background);
  background-repeat: repeat-x;
  background-size: 5px $width;
  background-position: 0 $position;
  background-image: linear-gradient($color, $color);
}

@mixin remove-text-underline {
  text-shadow: none;
  background-image: none;
}

@mixin padded-text($color, $width: 0.2rem) {
  padding: $width 0;
  background: $color;
  box-shadow: $width 0 0 $color, (-$width) 0 0 $color;
};
