ul.Contacts
  li.Contacts-contact
    svg.Contacts-icon(role="img", aria-label="Email")
      use("xlink:href"="#icon-mail")
    a.Contacts-link(href="mailto:hello@robwierzbowski.com", target="_blank") hello@robwierzbowski.com

  li.Contacts-contact
    svg.Contacts-icon(role="img", aria-label="Twitter")
      use("xlink:href"="#icon-twitter")
    a.Contacts-link(href="https://twitter.com/robwierzbowski") @robwierzbowski

  li.Contacts-contact
    svg.Contacts-icon(role="img", aria-label="Github")
      use("xlink:href"="#icon-github")
    a.Contacts-link(href="https://github.com/robwierzbowski") robwierzbowski
