script(async).
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '5637da9892c6ac6ca900188c');
    t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
    t.src = 'http://robwierzbowski.com/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
