header.SiteHeader
  ul.SiteHeader-items
    li.SiteHeader-item
      p.SiteHeader-blurb Web Developer in Pittsburgh, PA
    li.SiteHeader-item
      a.SiteHeader-about(href="/about") About
    li.SiteHeader-item
      ul.Contacts
        li.Contacts-contact
          a.Contacts-link(href="https://twitter.com/robwierzbowski") @robwierzbowski
        li.Contacts-contact
          a.Contacts-link(href="https://github.com/robwierzbowski") robwierzbowski
        li.Contacts-contact
          a.Contacts-link(href="mailto:hello@robwierzbowski.com") hello@robwierzbowski
