meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="description", content="Rob Wierzbowski | Pittsburgh, PA")
meta(name="viewport", content="width=device-width, initial-scale=1.0")

title Rob Wierzbowski

//- Disable tap highlight on IE
meta(name="msapplication-tap-highlight", content="no")

script.
  function revd (path) {
    var manifest = !{manifest};
    return manifest[path] || path;
  }

script
  include /.tmp/components/woff2.js
  include /.tmp/scripts/head.js

link(rel="stylesheet", href="/styles/" + revd("main.css"))
