header.SiteHeader
  ul.SiteHeader-items
    li.SiteHeader-item.m-blurb Web Developer in Pittsburgh, PA
    li.SiteHeader-item.m-CTA
      a.SiteHeader-about(href="/available") Hey! I'm Available
    li.SiteHeader-item.m-contacts
      ul.Contacts
        li.Contacts-contact
          a.Contacts-link.m-twitter(href="https://twitter.com/robwierzbowski") @robwierzbowski
        li.Contacts-contact
          a.Contacts-link.m-github(href="https://github.com/robwierzbowski") robwierzbowski
        li.Contacts-contact
          a.Contacts-link.m-email(href="mailto:hello@robwierzbowski.com") hello@robwierzbowski
